*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height:100vh;
    width: 100vw;
}



.spinner1{
    display: inline-block;
    margin: 6rem;
    height: 6rem;
    width:6rem;
    border: 5px solid;
    border-color: transparent red red red;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.spinner2{

    display: inline-block;
    margin-bottom: 6rem;
    height: 6rem;
    width: 6rem;
    border: 0.5rem solid #ccc;
    border-top-color: red;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;


}



.spinner3{

    display: inline-block;
    margin-bottom: 6rem;
    height: 6rem;
    width: 6rem;
    border: 0.5rem solid #ccc;
    border-top-color: red;
    border-bottom-color:red ;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;


}

.spinner4{
    display: inline-block;
    margin-bottom: 6rem;
    height: 6rem;
    width:6rem;
    border-radius: 50%;
    border-top: 5px solid red;
    border-right: 5px solid transparent;
    animation: rotate 1s linear infinite;
}

.spinner5{
    position: relative;
    height: 6rem;
    width: 6rem;
    margin-bottom: 6rem;
}

.spinner5 div{
    position: absolute;
    height: 6rem;
    width: 6rem;
    border: 0.5rem solid red;
    border-radius: 50%;
    border-color: red transparent transparent transparent;
    animation: rotate 1s cubic-bezier(0.5,0,0.5,1) infinite;
}

.spinner5 div:nth-child(1){
    animation-delay: 0.40s;
    
}

.spinner5 div:nth-child(2){
    animation-delay: 0.30s;

}

.spinner5 div:nth-child(3){
    animation-delay: 0.20s;

}



.spinner6{

    display: inline-block;
    margin-bottom: 6rem;
    height: 6rem;
    width: 6rem;
    border: 0.5rem solid #ccc;
    border-top-color: red;
    border-radius: 50%;
    position: relative;
    animation: rotate 1.2s cubic-bezier(0.12, 0, 0.39, 0) infinite;
}

.spinner7{
    position: relative;
    height: 6rem;
    width: 6rem;
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
              transform: rotate(0deg);
    }
    100% {
      
              transform: rotate(270deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      
transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }

  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke:red;
    animation: dash 1.4s ease-in-out infinite;
  }